<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Details of "<%= todos.todo %>"</title>
</head>
<body>
    <h1><%= todos.todo %></h1>
    <h2><%= todos.done %></h2>
    <a href ="/todos/<%= todos.id %>/edit">Edit Item</a>
</body>
</html>